                <!------footer start--------->
                <footer>
                    <p>SHAPE</p>
                    <p><b/>Having trouble with the site?<br /><br />CONTACT US:<br />shapeTechnicalTeam@gmail.com<br /></p>
                    <div class="button">
                      <a id="footer" href="/QNA"><i class="btn1">Q&amp;A</i></a>
                      <a id="footer" href="/aboutUs"><i class="btn2">About</i></a>
                      <a id="footer" href="/condNterms"><i class="btn3">Cond&amp;Terms</i></a>
                    </div>
                    <p class="end" style="margin-left: 750px;"> Shape © 2022&nbsp; &nbsp</p>
                  </footer>