<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>condNterms</title>
    <link rel="stylesheet" href="css/condNterms.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <section class="about">
      <div class="main">
        
        <div class="condNterms-text">
          <h1>Hello </h1>
          <h5>Condition<span> & Terms</span></h5>
          <p>
            <li><a>The user must be healthy</a></li>
            <li><a>Use of the site over the age of 18</a></li>
            <li><a>Payment to the trainer is made in a bit with the trainer and not through the website</a></li>
          </p>
        </div>
      </div>
    </section>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
