<html lang="he" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,,user-scalable=no,maximum-scale=1,initial-scale=1">
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500,600|MuseoModerno:400,500,600|Roboto:300,400,500,700|Material+Icons|Calligraffitti|Audiowide"
    rel="stylesheet" type="text/css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
  <script type="text/javascript" src="app.033571273e358b0878f7.js"></script>
  <link href="/css/editTrainingTypes.css" rel="stylesheet">
</head>

<body>
  <main class="v-content" data-booted="true" style="padding: 64px 120px 0px 0px;">
    <div class="v-content__wrap">
      <div class="container fluid grid-list-lg">
        <div class="layout pt-3 column">
          <!-- training types -->
          <div class="flex">
            <div class="v-card v-sheet theme--light">
              <div class="v-card__title">
                <div class="flex md-headline">Training Types</div>
                
                <div><button type="button" id="addType" onclick="openForm()" class="no-shadow no-opacity v-btn theme--light primary">
                    <div class="v-btn__content">+ Training Type</div>
                  </button>
                </div>
                
              </div>
              <label id="errorMsg" style="font-size: 16px; color: red ;margin-right: 10px;" hidden >You must have at least one training type</label>
              <hr class="v-divider theme--light">
              <div footer="" class=" ">
                <div class="v-table__overflow">
          
                  <table class="v-datatable v-table theme--light" >
                    <thead>
                      <tr>
                        <th role="columnheader" scope="col" aria-label="training type: Not sorted." aria-sort="none"
                          class="column text-xs-left">Training type</th>
                        <th role="columnheader" scope="col" aria-label="price: Not sorted." aria-sort="none"
                          class="column text-xs-left">Price </th>
                        <th role="columnheader" scope="col" aria-label="duration: Not sorted." aria-sort="none"
                          class="column text-xs-left">duration </th>
                        <th role="columnheader" scope="col" aria-label=" : Not sorted." aria-sort="none"
                          class="column text-xs-left"> </th>
                        
                      </tr>
                      <tr class="v-datatable__progress">
                        <th colspan="4" class="column"></th>
                      </tr>
                    </thead>
                    <tbody id="trainingTable">
                      <% if(typeof user !="undefined" ) { %>
                        <% user.trainingTypes.forEach(type=> { %>
                          <tr>
                            <form id="rowForm" method=POST action="/editTrainingTypes" >
                            <td nowrap="nowrap" >
                              <span class="bgColor"
                                style="margin-top: -10px; background: rgb(234, 221, 255); border-color: rgb(151, 122, 205); color: rgb(97, 61, 164);"
                                id =trainingName></span>
                                <input type="text" name="trainingTypeName" value="<%= type.name %>" hidden>
                                <input type="text" name="page" value="create" hidden>

                              <input type="text" name="newTrainingTypeName" value="<%= type.name %>" required>
                            </td>
                            <td nowrap="nowrap" class="text-xs-left" name="trainingTypePrice">
                              <input type="number" name="TrainingTypePrice" value="<%= type.price %>" required>
                              
                            </td>
                            <td class="text-xs-left" name="trainingTypeDuration">
                              <input type="number" name="trainingTypeDuration" value="<%= type.duration %>" required>
                            </td>
                            <input name="action" id="selectedAction" type="text" value="no" hidden>
                            <td nowrap="nowrap" class="text-xs-left">
                              <button type="submit" onclick="submitEdit()"
                                class="no-shadow no-opacity    text-center v-btn v-btn--flat v-btn--icon theme--light secondary--text"
                                style="font-size: 22px;">
                                <div class="v-btn__content"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </div>
                              </button>
                              <button type="button" onclick="submitDelete()"
                                class="no-shadow no-opacity    text-center v-btn v-btn--flat v-btn--icon theme--light error--text"
                                style="font-size: 22px;" >
                                <div class="v-btn__content">
                                  <i class="ion-trash-a">
                                  </i>
                                </div>
                              </button>
                            </td>
                          </form>
                          </tr>
                          <% }); %>
                            <% } %>
                    </tbody>
                    <tfoot> 
                        
                        <tr> 


                         <td colspan="6">
                          <div class="text-xs-cent2er pa-2" >
                            
                            <!-- <ul class="v-pagination theme--light">
                              <li><button type="button"
                                  class="v-pagination__navigation v-pagination__navigation--disabled"><i
                                    aria-hidden="true"
                                    class="v-icon material-icons theme--light">chevron_right</i></button>
                              </li>
                              <li><button type="button"
                                  class="v-pagination__item v-pagination__item--active primary">1</button>
                              </li>
                              <li><button type="button"
                                  class="v-pagination__navigation v-pagination__navigation--disabled"><i
                                    aria-hidden="true"
                                    class="v-icon material-icons theme--light">chevron_left</i></button>
                              </li>
                            </ul>  -->
                        </td> 
                        
                      </tr> 
                    </tfoot>
                  </table>

                </div>
              </div>
              <button type="button" id="continueBT" onclick="continueValidate()" class="no-shadow no-opacity v-btn theme--light primary" style="margin-left: 1100px;">
                <div class="v-btn__content"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
              </button>
            </div>
            
            </div>
            <div id="cover" >
             
              <div class="form-wrapper" id="newTrainingTypeForm">
                <h2>Schedule New Training</h2>
               <form  class="form-container"  action="/addTrainingType" method="POST" >
                  <div class="txt_field"> <input id="title" type="text"name="trainingTypeName" required/>
                    <input type="text" name="page" value="create" hidden>
                  <span></span>
                  <label>Training Type name</label>
                  </div>
                  <div class="date_fields">
                    <div class="txt_field"><input id="duration" name="trainingTypeDuration" type="number"required />
                      <span></span>
                      <label>Duration</label>
                    </div>
                    <div class="txt_field"><input id="price" name="trainingTypePrice" type="number"required />
                      <span></span>
                      <label> Price</label>
                    </div>
                  </div>
                  <div class="label-group">
                    
                     
                    <label id="Duration"><a>Duration: </a><a id="d"> </a></label>
                    <label id="Price"><a>Price: </a><a id="p"> </a></label>
                  </div>
           
                  <div class="btn-group">
                    <button type="submit" id="create-btn" >Create</button>
                    <button type="button"  onclick="closeForm()">Close</button>
                  </div>
               </form>
             </div>
             </div>
  </main>
 

  <script>
    function continueValidate() {
            if(document.getElementById("trainingTable").rows.length==0)
            {
                errorMsg.style.display = "block";
            }
            else
            {
                window.location.href = "/businessProfile";
            }
    }
    document.getElementById("duration").addEventListener('change', (event) => {
      document.getElementById("d").innerHTML=document.getElementById("duration").value;
    });
    document.getElementById("price").addEventListener('change', (event) => {
      document.getElementById("p").innerHTML=document.getElementById("price").value;
    });
function openForm() {
          document.getElementById("cover").style.display = "block";

        }

function closeForm() {
  document.getElementById("cover").style.display = "none";
}
    
   function submitEdit()
   {
     document.getElementById('selectedAction').value='edit';
     document.getElementById("rowForm").submit();

   }
   function submitDelete()
   {
    document.getElementById('selectedAction').value='delete';
    if(document.getElementById("trainingTable").rows.length==1)
      {
        errorMsg.style.display = "block";
      }
      else
      {
        document.getElementById("rowForm").submit();
      }
    
  }
  </script>

  <script src="https://localhost:12719/browser-sync/browser-sync-client.js?v=2.26.7" async=""></script>
</body>

</html>