<html>
  <html>
    <head>
      <title>Shape</title>
      <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
      <link rel="stylesheet" href="/css/forgotPassword.css">
      <%- include('../partials/head'); %>
    </head>
    <header><%- include('../partials/header') %></header>
    <body>
        <div class="login-wrapper">     
            <h2>Forgot Password?</h2>
            <p>  Please enter your email registration email</p>
            <label id="logErrorMsg" style="font-size: 16px; color: red; text-align: center;" hidden></label> 
            <form class="forgotPassword" action="/forgotPassword" method="POST">
                <div class="txt_field">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div>
                    <input type="submit" id = "continueBtn" onclick="disableBtn()" value="Continue">
                </div>
            </form>
        </div>
        <script>
          var logStatus = true;
          var logErrorMsg =document.getElementById("logErrorMsg");
          logErrorMsg.style.display = 'none';
          
          if ("<%= loginStatus %>" == 'false'){
                  
                  logErrorMsg.innerHTML = "The email is incorrect";
                  logErrorMsg.style.display='block';
                  logStatus=false;
              }
          function disableBtn() {
            var btn = document.getElementById("continueBtn").innerText = "The email has been sent";
          }
      </script>
    </body>
  </html>
</html>
