<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shape</title>
    <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
    <link rel="stylesheet" href="css/QNA.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <section class="about">
        <div class="qa-text" >
            <h5>Top questions and answers on the site may be helpful!</h5>
            <p>
                <ul><il style="text-decoration: underline;font-weight: bold;">Trainee<br></il>
                    <il>How much does training cost?<br></il>
                    The payment is determined by the trainer according to the type of training and the duration of his training<br> <br> 
                    <il>Where can you train with a personal trainer?<br></il>
                    You can search by type of training and desired location and see the trainers in all areas offered by the them<br><br> 
                    <il>What types of training can a personal fitness trainer deliver?<br></il>
                    personal trainer, athletics, gymnastics, aerobic, cross-fit, gym, mental-wellness and feldenkrais
                </ul> 
                <ul><il style="text-decoration: underline;font-weight: bold;"><br><br><br>Trainer<br></il>
                <il>How is the payment made from the trainees?<br></il>
                The payment is must be paid at least one hour before the training starts by "bit" application <br> <br> 
                <il>At what ages are my trainees?<br></il>
                The train must be above then 18 years old<br><br> 
                <il>Can I cancel training?<br></il>
                  Yes, you can cancel it while the training does not started
              </ul>
          </p>
      </div>
    </section>
    <div class="footerQA"><footer><%- include('../partials/footer') %></footer></div>
  </body>
</html>