<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/resetPassword.css">
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <div class="login-wrapper">     
      <label id="errorMsg" style="font-size: 16px; color: red" hidden></label>
      <form
        class="resetPassword"
        id="trainer-form"
        method="POST"
        action="resetPassword"
        onsubmit="return validateResetPasswordForm()"
        >
            <div class="input-box">
            <input
                type="text"
                id="userEmail"
                name="userEmail"
                placeholder="Enter email address"
                required
            />
            </div>
            <div class="input-box">
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Create password"
                required
            />
            </div>
            <div class="input-box">
                <input
                    type="password"
                    id="passwordRepeat"
                    name="passwordRepeat"
                    placeholder="Confirm password"
                    required
                />
            </div>
            <div class="input-box button">
                <input type="submit" value="Save"  href="/login">
            </div>
        </form>
    </div>
    <script>
      function validateResetPasswordForm() {
        var password = document.getElementById("password").value;
        var passwordRepeat = document.getElementById("passwordRepeat").value;
        var email = document.getElementById("userEmail").value;
        var logStatus = true;
          var logErrorMsg =document.getElementById("logErrorMsg");
          logErrorMsg.style.display = 'none';
          
        if ("<%= loginStatus %>" == 'false'){
            logErrorMsg.innerHTML = "The email is incorrect";
            logErrorMsg.style.display='block';
            logStatus=false;
            return;
        }
        if (password.length < 8) {
          errorMsg.innerHTML =
            "Your password must include atleast 8 characters";
          errorMsg.style.display = "block";
          logStatus=false;
          return;

        }

        if (password != passwordRepeat) {
          errorMsg.innerHTML = "please confirm your password";
          errorMsg.style.display = "block";
          logStatus=false;
          return;

        }

        if (!ValidateEmail(email)) {
          errorMsg.innerHTML = "You have entered an invalid email address!";
          errorMsg.style.display = "block";
          logStatus=false;
          return;

        }
        //return regStatus;
      }
      function ValidateEmail(email) {
        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
      }
    </script>
  </body>
</html>
